<html>
<head>Tom Vs Jerry</head>
<body>
Actors:
Name: {{ getValue "jerry" "name"}}
Catalog: {{ getValue "jerry" "catalog"}}

Name: {{ getValue "tom" "name"}}
Catalog: {{ getValue "tom" "catalog"}}

Cases
Round 1: normal
Name: {{ getValue "jerry" "name"}}
Catalog: {{ getValue "jerry" "catalog"}}
Capability: {{ getValue "jerry" "capability"}}

Round 2: super
Name: {{ getValue "super-jerry" "name"}}
Catalog: {{ getValue "super-jerry" "catalog"}}
Capability: {{ getValue "super-jerry" "capability"}}
</body>
</html>
